aioflask==0.4.0
aiohttp==3.8.6
aiosignal==1.3.1
annotated-types==0.6.0
anyio==3.7.1
async-timeout==4.0.3
asyncio==3.4.3
attrs==23.1.0
beautifulsoup4==4.12.2
bs4==0.0.1
certifi==2023.7.22
chardet==3.0.4
charset-normalizer==3.3.1
click==8.1.7
colorama==0.4.6
configparser==5.2.0
dataclasses-json==0.6.1
exceptiongroup==1.1.3
filelock==3.13.1
Flask==2.0.3
Flask-API==3.1
frozenlist==1.4.0
fsspec==2023.10.0
greenlet==3.0.1
greenletio==0.10.1
gunicorn==21.2.0
h11==0.14.0
httpcore==0.18.0
httpx==0.25.0
huggingface-hub==0.17.3
idna==2.10
itsdangerous==2.0.1
Jinja2==3.1.2
joblib==1.3.2
jsonpatch==1.33
jsonpointer==2.4
langchain==0.0.327
langsmith==0.0.56
machaao==0.3.5
MarkupSafe==2.1.3
marshmallow==3.20.1
mpmath==1.3.0
multidict==6.0.4
mypy-extensions==1.0.0
networkx==3.1
nlpcloud==1.0.43
nltk==3.8.1
numpy==1.24.4
openai==0.28.1
packaging==23.2
pydantic==2.4.2
pydantic_core==2.10.1
PyJWT==2.3.0
python-dotenv==1.0.0
pytz==2023.3.post1
PyYAML==6.0.1
regex==2023.10.3
requests==2.24.0
safetensors==0.4.0
sniffio==1.3.0
soupsieve==2.5
SQLAlchemy==2.0.22
sympy==1.12
tenacity==8.2.3
tokenizers==0.14.1
torch==2.1.0
tqdm==4.66.1
transformers==4.35.0
typing-inspect==0.9.0
typing_extensions==4.8.0
urllib3==1.25.11
uvicorn==0.23.2
websockets==12.0
Werkzeug==2.2.2
yarl==1.9.2
